NUXT_OAUTH_GITHUB_CLIENT_ID=""
NUXT_OAUTH_GITHUB_CLIENT_SECRET=""
NUXT_OAUTH_GOOGLE_CLIENT_ID=""
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=""
NUXT_OAUTH_FACEBOOK_CLIENT_ID=""
NUXT_OAUTH_FACEBOOK_CLIENT_SECRET=""
NUXT_SESSION_PASSWORD=""
AI_GATEWAY_API_KEY=""
AI_GATEWAY_MODEL="openai/gpt-4o-mini"
API_FOOTBALL_BASE_URL="https://v3.football.api-sports.io"
FOOTBALL_API_KEY=""
GOOGLE_KEY_INDEX=""

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
